.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Vector-edit-button.svg);
  background-size: calc(10 * 100% / 24);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 1px solid #FFF;
  outline-offset: -1px;
  background-color: #000;
  margin-left: 9px;
  padding: 0;
}

@media (max-width: 767px) {
  .profile__edit-button {
    width: calc(((100vw - 320px) / (767 - 320)) * (24 - 18) + 18px);
    height: calc(((100vw - 320px) / (767 - 320)) * (24 - 18) + 18px);
    margin-left: calc(((100vw - 320px) / (767 - 320)) * (9 - 3) + 3px);
  }
}
